* {
	box-sizing: border-box;

	/* typography */
	--primary-font: "Montserrat", sans-serif;
	--secondary-font: "Amatic SC", sans-serif;
	background-color: var(--md-sys-color-background);
	color: var(--md-sys-color-on-background);
}

/* 🌐 Mobile: Base 16px */
body {
	min-height: 100vh;
	font-family: var(--primary-font);
	--font-size-xs: 0.75rem; /* 12px */
	--font-size-sm: 0.875rem; /* 14px */
	--font-size-md: 1rem; /* 16px */
	--font-size-lg: 1.125rem; /* 18px */
	--font-size-xl: 1.25rem; /* 20px */
	--font-size-title: 3rem; /*32px*/
	margin: 0;
}

/* 📱 Tablet: Base ~17px */
@media (min-width: 768px) {
	html {
		font-size: 106.25%;
	}

	body {
		--font-size-xs: 0.78rem; /* ~13px */
		--font-size-sm: 0.9rem; /* ~15.3px */
		--font-size-md: 1.0625rem; /* ~17px */
		--font-size-lg: 1.1875rem; /* ~19px */
		--font-size-xl: 1.3125rem; /* ~21px */
		--font-size-title: 2.82rem; /*32px*/
	}
}

/* 🖥️ Desktop: Base ~18px */
@media (min-width: 1024px) {
	html {
		font-size: 112.5%; /* 18px */
	}

	body {
		--font-size-xs: 0.83rem; /* ~15px */
		--font-size-sm: 0.94rem; /* ~17px */
		--font-size-md: 1.125rem; /* 18px */
		--font-size-lg: 1.25rem; /* 20px */
		--font-size-xl: 1.375rem; /* 22px */
		--font-size-title: 2.66rem; /*33px*/
	}
}
