.section {
	margin-top: 10vh;
}

.form {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 150px 200px 1fr 250px;
	grid-template-areas:
		"title"
		"info"
		"form"
		"submit";
	padding: 1rem;
	height: 100%;
}

.sub-form-div {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(6, 100px);
	gap: 1rem;
	grid-area: form;
}

.info-div {
	text-align: center;
	grid-area: info;
	color: var(--md-sys-color-on-background);
}

.info {
	width: 50%;
	margin: auto;
	font-weight: 500;
}

.title {
	text-align: center;
	font-size: var(--font-size-title);
	grid-area: title;
}

.input-div {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.label {
	font-size: var(--font-size-sm);
}

.input {
	border: none;
	outline: none;
	border-bottom: 1px solid black;
	font-size: var(--font-size-md);
	padding: 0px;
	margin: 0px;
}

.text-area::placeholder {
	color: var(--md-sys-color-on-background);
}

.text-area {
	padding: 1rem;
}

.submit-btn {
	margin-top: 1rem;
	padding: 0.5rem 2rem;
	border-radius: 100px;
	border: none;
	background-color: var(--md-sys-color-primary);
	width: 20%;
	margin-left: auto;
	margin-right: auto;
	color: var(--md-sys-color-on-primary);
}

.submit-btn:active {
	background-color: var(--md-sys-color-secondary);
}

@media (min-width: 769px) {
	.sub-form-div {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: repeat(3, 100px);
	}
}
