.nav {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 1em;
}

.menu-links-ul {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 80%;
	padding: 0;
	list-style: none;
	gap: 3rem;
}

.icon {
	height: 35px;
	width: 35px;
	stroke-width: 0.1px;
	stroke: inherit;
	fill: inherit;
	color: inherit;
}

.icon-active {
	fill: var(--md-sys-color-primary);
}
