.menu-section-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
	grid-template-rows: repeat(aut-fit, minmax(400, 1fr));
	grid-auto-rows: auto;
	height: 100%;
	width: 100%;
}
